<ion-view view-title="Home">
    <ion-content>
        <ion-list>
            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Neue Aufgabe" ng-model="newTask">
                </label>
                <button class="button button-small" ng-click="addNewTask(newTask)">
                    Hinzufügen
                </button>
            </div>

            <ion-checkbox ng-repeat="task in tasks" ng-model="task.done" ng-click="updateTask(task)">{{task.description}}</ion-checkbox>
        </ion-list>

        <div ng-if="isLoggedIn"></div>
        <div ng-if="!isLoggedIn"></div>
    </ion-content>
</ion-view>
